<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sammy.ciphere_learning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegActivity" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".test" />
        <activity
            android:name=".Mechhome"
            android:label="@string/title_activity_mechhome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CShome"
            android:label="@string/title_activity_cshome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Regsetup" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
        <activity android:name=".Sem1CS" />
        <activity android:name=".Sem2CS" />
        <activity android:name=".Sem3CS" />
        <activity android:name=".Sem4CS" />
        <activity android:name=".Sem5CS" />
        <activity android:name=".Sem6CS" />
        <activity android:name=".Sem1ME" />
        <activity android:name=".Sem2ME" />
        <activity android:name=".Sem3ME" />
        <activity android:name=".Sem4ME" />
        <activity android:name=".Sem5ME" />
        <activity android:name=".Sem6ME" />
        <activity
            android:name=".CEhome"
            android:label="@string/title_activity_cehome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Sem1CE" />
        <activity android:name=".Sem2CE" />
        <activity android:name=".Sem3CE" />
        <activity android:name=".Sem4CE" />
        <activity android:name=".Sem5CE" />
        <activity android:name=".Sem6CE" />
        <activity
            android:name=".EChome"
            android:label="@string/title_activity_echome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Sem1EC" />
        <activity android:name=".Sem2EC" />
        <activity android:name=".Sem3EC" />
        <activity android:name=".Sem4EC" />
        <activity android:name=".Sem5EC" />
        <activity android:name=".Sem6EC" />
        <activity
            android:name=".tabtesting"
            android:label="@string/title_activity_tabtesting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tabtesting2"
            android:label="@string/title_activity_tabtesting2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SemXCS" />
        <activity android:name=".Sem1EE" />
        <activity android:name=".Sem6EE" />
        <activity
            android:name=".ECS5S1"
            android:label="@string/title_activity_ecs5_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS5S2"
            android:label="@string/title_activity_ecs5_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS5S3"
            android:label="@string/title_activity_ecs5_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS5S4"
            android:label="@string/title_activity_ecs5_s4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS1S1"
            android:label="@string/title_activity_ecs1_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS1S2"
            android:label="@string/title_activity_ecs1_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS1S3"
            android:label="@string/title_activity_ecs1_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS2S1"
            android:label="@string/title_activity_ecs2_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS2S2"
            android:label="@string/title_activity_ecs2_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS2S3"
            android:label="@string/title_activity_ecs2_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS3S1"
            android:label="@string/title_activity_ecs3_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS3S2"
            android:label="@string/title_activity_ecs3_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS3S3"
            android:label="@string/title_activity_ecs3_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS3S4"
            android:label="@string/title_activity_ecs3_s4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS4S1"
            android:label="@string/title_activity_ecs4_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS4S2"
            android:label="@string/title_activity_ecs4_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS4S3"
            android:label="@string/title_activity_ecs4_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS4S4"
            android:label="@string/title_activity_ecs4_s4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS6S1"
            android:label="@string/title_activity_ecs6_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS6S2"
            android:label="@string/title_activity_ecs6_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECS6S3"
            android:label="@string/title_activity_ecs6_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES1S1"
            android:label="@string/title_activity_ces1_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES1S2"
            android:label="@string/title_activity_ces1_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES1S3"
            android:label="@string/title_activity_ces1_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES2S1"
            android:label="@string/title_activity_ces2_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES2S2"
            android:label="@string/title_activity_ces2_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES2S3"
            android:label="@string/title_activity_ces2_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES3S1"
            android:label="@string/title_activity_ces3_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES3S2"
            android:label="@string/title_activity_ces3_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES3S3"
            android:label="@string/title_activity_ces3_s3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES3S4"
            android:label="@string/title_activity_ces3_s4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CES4S1"
            android:label="@string/title_activity_ces4_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CSS2S1"
            android:label="@string/title_activity_ces4_s1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MEhome"
            android:label="@string/title_activity_mehome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ADFThome"
            android:label="@string/title_activity_adfthome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EEhome"
            android:label="@string/title_activity_eehome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Sem3ME" />
        <activity android:name=".CSS1S2" />
        <activity android:name=".CSS1S4" />
        <activity android:name=".CSS1S1" />
        <activity android:name=".CSS1S3" />
        <activity android:name=".CSS1S5" />
        <activity android:name=".CSS1S6" />
        <activity android:name=".CSS2S3" />
        <activity android:name=".CSS3S1" />
        <activity android:name=".CSS3S2" />
        <activity android:name=".CSS3S3" />
        <activity android:name=".CSS3S4" />
        <activity android:name=".CSS3S5" />
        <activity android:name=".CSS3S6" />
        <activity android:name=".CSS3S7" />
        <activity android:name=".CSS2S2" />
        <activity android:name=".CSS2S4" />
        <activity android:name=".CSS2S5" />
        <activity android:name=".CSS2S6" />
        <activity android:name=".CSS4S1" />
        <activity android:name=".CSS4S2" />
        <activity android:name=".CSS4S3" />
        <activity android:name=".CSS4S4" />
        <activity android:name=".CSS4S5" />
        <activity android:name=".CSS4S6" />
        <activity android:name=".CSS4S7" />
        <activity android:name=".CSS5S1" />
        <activity android:name=".CSS5S2" />
        <activity android:name=".CSS5S3" />
        <activity android:name=".CSS5S4" />
        <activity android:name=".CSS5S5" />
        <activity android:name=".CSS5S6" />
        <activity android:name=".CSS5S7" />
        <activity android:name=".CSS6S1" />
        <activity android:name=".CSS6S2" />
        <activity android:name=".CSS6S3" />
        <activity android:name=".CSS6S4" />
        <activity android:name=".CSS6S5" />
        <activity android:name=".CSS6S6" />
        <activity android:name=".MES1S1" />
        <activity android:name=".MES1S2" />
        <activity android:name=".MES1S3" />
        <activity android:name=".MES1S4" />
        <activity android:name=".MES1S5" />
        <activity android:name=".MES1S6" />
        <activity android:name=".MES2S1" />
        <activity android:name=".MES2S2" />
        <activity android:name=".MES2S3" />
        <activity android:name=".MES2S4" />
        <activity android:name=".MES2S5" />
        <activity android:name=".MES2S6" />
        <activity android:name=".MES3S1" />
        <activity android:name=".MES3S2" />
        <activity android:name=".MES3S3" />
        <activity android:name=".MES3S4" />
        <activity android:name=".MES3S5" />
        <activity android:name=".MES3S6" />
        <activity android:name=".MES4S1" />
        <activity android:name=".MES4S2" />
        <activity android:name=".MES3S7" />
        <activity android:name=".MES4S3" />
        <activity android:name=".MES4S4" />
        <activity android:name=".MES4S5" />
        <activity android:name=".MES4S6" />
        <activity android:name=".MES4S7"></activity>
    </application>

</manifest>